@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.login {
  text-align: center;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: $primary-color-black;

  &__wrapper {
    @include wrapper-props;
  }

  &__bannercontain {
    height: 20rem;
  }

  &__banner {
    width: 25rem;
    margin: 0;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__form {
    width: 20rem;
    background-color: whitesmoke;
    border: 2px solid #b4b2e780;
    border-radius: 0.8rem;
    padding: 5rem 4rem;
    margin: 5rem auto;
    box-sizing: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.2rem;
  }

  &__input-box {
    position: relative;
    width: 20rem;
    margin-top: 3.5rem;
  }

  &__input-box input {
    position: relative;
    width: 100%;
    padding: 2rem 1rem 1rem;
    background: transparent;
    border: none;
    outline: none;
    color: #335576;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    z-index: 10;
  }

  &__input-box label {
    position: absolute;
    left: 0;
    padding: 2rem 1rem 1rem;
    font-size: 1rem;
    color: $primary-color-black;
    pointer-events: none;
    letter-spacing: 0.05rem;
    transition: 0.5s;
  }

  &__input-box input:valid ~ label,
  &__input-box input:focus ~ label {
    color: $primary-color-blue-purple;
    transform: translateY(-34px);
    font-size: 0.75rem;
  }

  &__input-box i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.2rem;
    background: #b4b2e7;
    border-radius: 0.4rem;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  }

  &__input-box input:valid ~ i,
  &__input-box input:focus ~ i {
    height: 4.4rem;
  }
}
