@use "./fonts" as *;

// Primary Colors
$primary-color-black: #323232;
$primary-color-light-blue: #9ecced;
$primary-color-silver: #afafaf;
$primary-color-white: #fff;

// Secondary Colors
$secondary-color-darkblack: #000;
$secondary-color-darkblue: #4e81a5;
$secondary-color-mercury: #e1e1e1;
$secondary-color-alabaster: #fafafa;

//break points
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Typeface
$type-face: "Avenir";
$type-face-bold: "Avenir-Bold";
