@use "./fonts" as *;

// Primary Colors
$primary-color-black: #323232;
$primary-color-blue-purple: #8face5;
$primary-color-silver: #afafaf;
$primary-color-white: #fff;

// Secondary Colors
$secondary-color-darkblack: #000;
$secondary-color-purple: #b4b2e7;
$secondary-color-mercury: #e1e1e1;
$secondary-color-alabaster: #fafafa;

//break points
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Typeface
$type-face: "Avenir";
$type-face-bold: "Avenir-Bold";
