@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.calendar {
  &__wrapper {
    @include wrapper-props;
  }

  &__container {
    // border: 1px solid black;
    border-radius: 0.5rem;
    width: 30rem;
    margin: 0 auto 2.4rem;
  }
}

.timeslot {
  &__wrapper {
    @include wrapper-props;
  }
}
