@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.homepage {
  width: 100%;
  height: 100%;
  background: whitesmoke;

  // &__wrapper {
  //   @include wrapper-props;
  // }

  &__container {
    position: relative;
  }

  &__header {
    height: 35rem;
    background-color: #b4b2e780;
    // background: radial-gradient(#64c9e659, #9198e5);
    border-radius: 0px 0px 80px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      border-radius: 0;
      background-image: url(../../assets/images/chris-mok-cr-mok-vFtp6oJn2fA-unsplash.jpg);
      background-position: top;
    }
  }

  &__banner {
    width: 30rem;
    // height: 50%;
    margin: 0;

    @include tablet {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    position: absolute;
    top: 30rem;
    left: 0rem;
    right: 0rem;

    // @include tablet {
    //   position: absolute;
    //   right: 25rem;
    // }
  }

  &__title {
    @include page-header;
    font-weight: 700;
    text-align: center;
    width: 25rem;
    position: absolute;
    top: 23rem;
  }

  &__info {
    width: 25rem;
    height: 20rem;
    background-color: $primary-color-white;
    box-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 2rem;
  }

  &__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__subtitle {
    @include sub-header;
    text-align: center;
    font-weight: 500;
    color: $primary-color-blue-purple;
  }

  &__location-name {
    @include label-btn-text;
    text-transform: uppercase;
    font-weight: 700;
    color: $primary-color-silver;
  }

  &__time {
    // @include body-text;
    color: $primary-color-black;
    font-weight: 500;
  }

  & hr {
    color: $primary-color-black;
    height: 0.1rem;
    margin: 1.6rem 0;
  }

  &__userinfo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__usercontent {
    display: flex;
    gap: 0.5rem;
  }

  &__usertitle {
    text-transform: uppercase;
    color: $primary-color-blue-purple;
  }

  &__useritem {
    text-transform: uppercase;
    font-weight: 500;
  }
}
