@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  height: 8rem;

  &__wrapper {
    @include wrapper-props;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 3.2rem 0 1.6rem;

    @include tablet {
      margin: 0 5.5rem;
    }
  }

  &__iconcontain {
    width: 3rem;
    height: 3rem;
    border: 1px solid $primary-color-black;
    border-radius: 0.5rem;
  }

  &__icon {
    width: 3rem;
    height: 2.5rem;
    padding: 0.2rem 0.9rem 0.1rem;
  }

  &__title {
    @include page-header;
    font-weight: 500;
  }
}
