@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.history {
  height: 100vh;

  &__wrapper {
    @include wrapper-props;

    @include tablet {
      max-width: calc(100% - 30rem);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  &__content {
    margin: 1.6rem 0;
  }
}

.historycard {
  &__container {
    margin: 1rem 0;
    color: inherit;
    text-decoration: inherit;
    display: flex;
    flex-direction: column;

    &:hover {
      box-shadow: 5px 5px 5px lightgray;
      // transition: transform 0.6s ease-in;
    }
  }

  &__content {
    width: 100%;
    // height: 20rem;
    height: 10rem;
    background-color: $primary-color-white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__datebox {
    width: 5rem;
    height: 5rem;
    background-color: $primary-color-white;
    box-shadow: 1px 1px 5px lightgray;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__date {
    @include label-btn-text;

    &--weekday {
      color: red;
      font-weight: 500;
      text-transform: uppercase;
    }

    &--fulldate {
      font-weight: 700;
    }
  }

  // &__img {
  //   width: 5rem;
  //   height: 5rem;
  //   border-radius: 50%;
  // }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__infocontent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
  }
}

.details {
  height: 100vh;
  &__wrapper {
    @include wrapper-props;

    @include tablet {
      max-width: calc(100% - 30rem);
    }
  }

  &__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 2.4rem;
    margin: auto;
  }

  &__info {
    // @include body-text;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__cta {
    width: 100%;
    text-align: center;
  }
}

.leaflet-container {
  width: 27rem;
  height: 15rem;
  z-index: 0;
  margin: 0 auto;
}
