@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.parking {
  //   background-color: #bdc5d5;
  // background-color: #b4b2e738;
  // // background-color: whitesmoke;
  // color: $primary-color-black;
  // border-top-right-radius: 10%;
  // border-top-left-radius: 10%;
  // height: 44rem;
  // transform: translate(0%, -5%);
  // z-index: 2;

  // &__wrapper {
  //   @include wrapper-props;
  // }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 1.6rem;
    padding: 5rem 0;

    background-color: #b4b2e738;
    color: $primary-color-black;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    min-height: 44rem;
    transform: translate(0%, -5%);
    z-index: 2;
  }

  &__bookingcontain {
    display: flex;
    flex-direction: column;
    gap: 13.5rem;
  }

  // ---- parking spot styles -----

  &__cardcontain {
    display: flex;
    justify-content: space-between;
    padding: auto;
    // gap: 5rem;
  }

  &__card {
    width: 26rem;
    // height: 40rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    // flex-direction: column;
    // border-top: 1px solid #5c667e;
    // border-top-right-radius: 25%;
    margin: 0 auto;

    // &--one {
    //   border-right: 1px dashed #5c667e;
    // }
    // &--two {
    //   border-right: 1px solid #5c667e;
    // }
  }

  &__slot {
    height: 8rem;
    width: 8rem;
    // border-bottom: 1px solid #5c667e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__spotname {
    width: 4rem;
    height: 5rem;
    color: black;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    // margin: 1.5rem auto;
    padding: 1.5rem 0;
  }

  &__carimg {
    width: 3rem;
    height: 3rem;
  }

  &__spotstatus {
    color: green;

    &--booked {
      color: red;
    }
  }

  &__confirm {
    @include button;
    background-color: black;
    margin: 0 auto;
  }
}
